/*#00ADEE*/

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  margin: 0px;
}

.header {
    /* GRADIENT HEADER */
    /* ff3.6+ */
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(128, 200, 224, 1) 100%);
    /* safari4+,chrome */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128, 200, 224, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    /* safari5.1+,chrome10+ */
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(128, 200, 224, 1) 100%);
    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(128, 200, 224, 1) 100%);
    /* ie10+ */
    background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(128, 200, 224, 1) 100%);
    /* w3c */
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(128, 200, 224, 1) 100%);
    /* ie6-9 */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80C8E0', endColorstr='#ffffff', GradientType=0);
}

.site-title {
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.button-row {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.button-row > .btn.btn-default {
    width: 120px;
    margin: 2px;
}

.contentBordered {
    border: 1px solid #00ADEE;
    margin: 0px 20px 20px 20px;
    border-radius: 5px;
	padding-bottom: 10px;
}

.intro-picture {
	padding: 20px;
	max-height: 400px;
	min-height: 200px;
}

.btn-default {
    color: #292C37;
    border-color: #00ADEE;
    transition: all 0.2s ease-in-out;
}

.btn-marginBottom {
    margin-bottom: 10px;
}

.noMargin-top {
    margin-top: 0px;
}

.modalBody {
    margin-right: 45px;
	padding: 0px;
}

.modal-header {
	font-weight: 600;
	margin-top: 0px;
}

.modal-footer {
	padding: 30px;
}

/* From https://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center */
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/**/

.carousel-control {
    background-image: none;
	top: auto;
	bottom: auto;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators .active {
    background-color: #292C37;
}

@media screen and (min-width: 768px) {
	.carousel-indicators {
		bottom: 10px;
	}
}

@media only screen and (min-width: 507px) {
    .button-row {
        display: block;
        width: auto;
    }
    .carousel-control {
        width: 5%;
    }
    .workTermHeader {
        display: flex;
    }
    .workTermLogo {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 507px) {
    .button-row {
        display: flex;
    }
    .carousel-control {
        width: 10%;
    }
    .workTermHeader {
        display: block;
    }
    .workTermLogo {
        margin-left: 0px;
    }
    .goals,
	.desc,
	.conc	{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 436px) {
    .goals,
	.desc	{
        margin-bottom: 5px;
    }
}
